@import '@/styles/variables.scss';
.footer-bg {
  background: #292759;
  margin-top: auto;
}
.footer {
  height: 1px;
  border-top: 1px solid #f1f1f1;

  display: flex;
  align-items: center;

  height: 129px;

  justify-content: space-between;
  color: #fff;
  width: 1200px;
  @media (max-width: $breakpoint-md) {
    width: 100%;
    padding: 0 20px;
  }
}

.logo {
  fill: #fff;
  width: 30.86px;
  height: 32px;
}
