@import '@/styles/variables.scss';
.footer-bg {
  background: #292759;
  margin-top: auto;
  height: 129px;
}
.footer {
  display: flex;
  align-items: center;
  height: 129px;
  justify-content: space-between;
  color: #fff;
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
    padding: 0 20px;
  }
}

.logo {
  fill: #fff;
  width: 30.86px;
  height: 32px;
}

.footer-logos {
  display: flex;
  gap: 20px;
}
