@import '@/styles/variables.scss';
.logo {
  fill: $NHC;
  width: 241.67px;
  height: 250px;
}

.title {
  font-family: $Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;

  color: $NHC;
}

.content {
  font-family: $Abel;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  color: #000000;
}

.items-container {
  padding-top: 54px;
  width: 1095px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 196px;
  @media (max-width: $breakpoint-md) {
    width: 100%;
    padding: 0 20px;
  }
}
