@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background: var(--background);
  font-family: var(--font-inter);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
