@import '@/styles/variables.scss';

/* Rectangle 3 */
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 15.57px;

  width: 738.57px;
  height: 50px;

  background: #f3f3f3;
  border: 1px solid rgba(0, 100, 131, 0.82);
  border-radius: 8px;

  &:hover {
    border: 1px solid #285f9d;
  }

  &::placeholder {
    padding-left: 20px;
    font-family: $Inter;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7f7f7f;
  }

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.search-title {
  font-family: $Inter;

  font-weight: 500;
  font-size: 18px;

  color: #285f9d;
  padding-bottom: 21px;
}

.count-results {
  font-family: $Inter;
  font-size: 16px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 37px;
  color: #000000;
  span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;

    color: $NHC;
  }
}

@import '@/styles/variables.scss';

.products-container {
  width: 975px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  //   hover effect zoom the thumbnail
  .product {
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.product {
  width: 301px;
  height: 312px;
  background: #ffffff;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.thumbnail {
  width: 284.13px;
  height: 150px;

  padding: 9px 0 12px 0;
  margin: 0 auto;
}

.product-title {
  font-family: $Inter;

  font-weight: 500;
  font-size: 20px;

  color: $NHC;
}

.product-price {
  font-family: $Inter;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  .price {
    font-family: $Inter;
    font-size: 16px;
    font-weight: 500;
    color: $NHC;
  }
}
.btn-more {
  background: $NHC;

  width: 85px;
  height: 40px;
  width: 85px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $Inter;
  font-weight: 400;
  font-size: 16px;

  text-align: center;

  color: #7f7f7f;
}

.search-bar {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 0;
  background: none;
}

.product-description {
  font-family: $Inter;

  font-weight: 400;
  font-size: 16px;

  color: #7f7f7f;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar-container {
  padding-top: 38px;
}
.more-container {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  align-items: center;
}
.product-content {
  padding: 9px;
}
